
mat-sidenav {
  width: 200px;
}

a {
  text-decoration: none; /* mice underline*/
  color: #fff;
}

a:hover,
a:active {
  color: lightgrey;
}
.nav-list{
  text-decoration: none;
  list-style: none;
}

.navigation-items {
  text-decoration: none; /* mice underline*/
  list-style: none; /* skriva kruzic ispred texta*/
  padding: 0;
  margin: 0;
}



.nav-caption {
  display: inline-block;
  padding-left: 15px;
}

.pomakni {
  padding-left: 15px;
  margin: 15px 0;
}
